@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
body{
    background :pink;
    font-family: Merriweather,sans-serif;
}
*{
    scroll-behavior: smooth;
}
.navbar{
    display:flex;
    
}
.list-non-bullet{
    margin-left :auto;
}
.list-non-bullet li{
    display:inline;
    padding: 0 1rem;
    
    
}
img{
    vertical-align: middle;
}
p{
    display:inline block ;
}

.hobbies{
    color:red;
    background:gainsboro;
    height:130vh;
}
li{
    color:purple;
}
.para{
    background:gold;
    padding: 0 1rem;
    width:100%;
    
}
.nobullet{
    list-style:none;
}
.skills{
    color:green;
    background:honeydew;
    height:120vh
}
nav{
    background: #f5f5f5
}